* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: #131519;
  font-family: 'Overpass', sans-serif;
}

.container {
  width: 300px;
  margin: 150px auto;
  background-color: #212932;
  padding: 20px;
  border-radius: 25px;

  .estrela {
    display: flex;
    width: 85px;
    height: 80px;
    background-image: url(../img/icon-star.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto 20px auto;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titulo1 {
      margin-bottom: 18px;
    }

    .paragrafo {
      font-size: 14px;
      text-align: center;
    }
  }


  .options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

    span {
      border: 1px solid #25313B;
      padding: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #25313B;
      transition: 200ms;

      &:hover {
        cursor: pointer;
        background-color: #FC7515;
      }

      &:active {
        background-color: white;
        color: #FC7515;
      }
    }
  }


  button {
    background-color: #FC7515;
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    transition: 200ms;
    font-size: 14px;
    letter-spacing: 1px;

    &:hover {
      cursor: pointer;
    }

    &:active {
      background-color: white;
      color: #FC7515;
    }
  }
}

.estiloTitulo1 {
  color: #FC7515;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #25313B;
  border: 1px solid #25313B;
  width: max-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 25px;
}

.paragrafo2_visivel {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin: 15px auto;
  text-align: center;
  line-height: 25px;
}